<h1>Add a new restaurant</h1>
<%= form_with model: @restaurant do |r| %>
  <%= r.label :name %>
  <%= r.text_field :name %>
  <%= r.label :phone_number %>
  <%= r.text_field :phone_number %>
  <%= r.label :address %>
  <%= r.text_field :address %>
  <%= r.label :category %>
  <%= r.text_field :category %>
  <%= r.submit %>
<% end %>
