<div class="container">
  <div class="card mb-4 mt-4">
    <div class="card-body">
      <h2 class="card-title"><%= @restaurant.name %></h2>
      <p class="card-text"><strong>Phone:</strong> <%= @restaurant.phone_number %></p>
      <p class="card-text"><strong>Address:</strong> <%= @restaurant.address %></p>
      <p class="card-text"><strong>Category:</strong> <%= @restaurant.category %></p>
      <%= link_to "Add a Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Reviews</h3>
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <%= "#{review.content} - #{review.rating}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
